{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} User Show{% endblock %}

{% block body %}
    <h1>User : {{ user.firstName }} {{ user.secondName }} </h1>
    {% include '@Eating/User/user_info.html.twig' with {
        'user': user
    } %}

    <div class="ea-button ea-button--front"><a href="{{ path('recommendation_list') }}">Your Recommendations</a></div>
    <div class="ea-button ea-button--front"><a href="{{ path('consumption_new', {'id': user.id}) }}">New consumption</a></div>

    {% if day_consumption %}
        <div class="ea-table">
            <h3>Consumption</h3>
            {% for meal, consumptions in day_consumption %}
                {% if consumptions %}
                    <h4>{{ meal|capitalize }}</h4>
                    <div class="ea-table__row ea-table__row--bold">
                        <div class="ea-table__item">Product</div>
                        <div class="ea-table__item">Gramm</div>
                        <div class="ea-table__item">Kkal</div>
                        <div class="ea-table__item">Proteins</div>
                        <div class="ea-table__item">Fats</div>
                        <div class="ea-table__item">Carbohydrates</div>
                    </div>

                    {% for item in consumptions %}
                        {% include '@Eating/Consumption/consumption_show.html.twig' with {
                            'item': item
                        } only %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="ea-button ea-button--front"><a href="{{ path('consumption_history', {'id': user.id}) }}">History</a></div>
{% endblock %}
