<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EA{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="ea-content">
            {% block header %}
                {% include 'EatingBundle:regions:header.html.twig' %}
            {% endblock %}
            <div class="ea-wrapper">
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
                {% block body %}
                    {% include 'EatingBundle:regions:footer.html.twig' %}
                {% endblock %}
            </div>
            {% block footer %}
                {% include 'EatingBundle:regions:footer.html.twig' %}
            {% endblock %}
            {% block javascripts %}
                <script src="{{ asset('js/main.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
