{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Product Show{% endblock %}

{% block body %}
    <div class="ea-title">
        <h1>Product</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="ea-button ea-button_list">
                <a href="{{ path('product_new') }}">New Product</a>
            </div>
        {% endif %}
    </div>
    <div class="ea-list_items">
        {% include 'EatingBundle:Product:sheet.html.twig' with {
            'product': product
        } %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="ea-list_buttons">
                <div class="ea-button ea-button__list-edit">
                    <a href="{{ app.request.headers.get('referer') }}">Back</a>
                </div>
                <div class="ea-button ea-button__list-edit">
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                </div>
                <div class="ea-button ea-button__list-edit">
                    <a href="{{ path('product_delete', {'id': product.id}) }}">Delete</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
