<div class="ea-header">
    <div class="ea-header__nav">
        <ul>
        {% if is_granted('ROLE_USER') %}
            <li>
                <a href={{ path('user_show', { 'userId': app.user.id }) }}>
                    {% if app.user.firstName and app.user.secondName %}
                        {{ app.user.firstName~' '~app.user.secondName }}
                    {% else %}
                        {{ app.user.email }}
                    {% endif %}
                </a>
            </li>
            <li><a href="{{ path('security_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('security_login') }}">Login</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('user_list') }}">Users</a></li>
        {% endif %}
        <li><a href="{{ path('product_list') }}">Products</a></li>
        <li><a href="{{ path('activity_list') }}">Activities</a></li>
    </ul>
    </div>
    <div class="ea-header__image">
        <a href="{{ path('homepage') }}" style="display: block; height: inherit"></a>
    </div>
</div>
