<div class="ea-header">
    <div class="ea-header__nav">
        <ul>
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('security_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('security_login') }}">Login</a></li>
        {% endif %}
        <li><a href="{{ path('user_list') }}">Users</a></li>
        <li><a href="{{ path('products_list') }}">Products</a></li>
        <li><a href="{{ path('activity_list') }}">Activities</a></li>
    </ul>
    </div>
    <div class="ea-header__image">
        {#<img src="{{ asset('img/background_food.jpg') }}">#}
    </div>
</div>
