{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login!</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="ea-form">
        <form action="{{ path('security_login') }}" method="post">
            {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button type="submit" class="ea-button">Login</button>
            {{ form_end(form) }}
            {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
             #}
        </form>
    </div>
{% endblock %}
