{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login!</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="ea-form">
        <form action="{{ path('security_login') }}" method="post">
            {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <div class="ea-button__wrapper">
                    <button type="submit" class="ea-button ea-button--center">Login</button>
                </div>
            {{ form_end(form) }}
            {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
             #}
        </form>
    </div>
    <div>
        <p class="ea-text ea-text--bold">Or you can try it: </p>
        <div class="ea-button ea-button--front">
            <a href="{{ path('user_register') }}">Registration</a>
        </div>
        <div class="ea-button ea-button--front">
            <a href="{{ path('activity_list') }}">List of Activities </a>
        </div>
        <div class="ea-button ea-button--front">
            <a href="{{ path('product_list') }}">List of products</a>
        </div>
    </div>
{% endblock %}
