{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registration!</h1>
    {#{% if error %}#}
        {#<div class="alert alert-danger">#}
            {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
        {#</div>#}
    {#{% endif %}#}
    <div class="ea-form">
        <form action="{{ path('user_register') }}" method="post">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            <div>
            {{ form_label(form.plainPassword.first, 'Password', {
                'label_attr': {'class': 'ea-form__label'}
            }) }}
            {{ form_widget(form.plainPassword.first, {
                'attr': {'class': 'ea-form__field'}
            }) }}
            </div>
            <div>
            {{ form_label(form.plainPassword.second, 'Repeat Password', {
                'label_attr': {'class': 'ea-form__label'}
            }) }}
            {{ form_widget(form.plainPassword.second, {
                'attr': {'class': 'ea-form__field'}
            }) }}
            </div>
            {{ form_rest(form) }}
            <div class="ea-button__wrapper">
                <button type="submit" class="btn btn-success btn-lg">Register</button>
            </div>
            {{ form_end(form) }}
            {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
             #}
        </form>
    </div>
    <div>
        <p class="ea-text ea-text--bold">Or you can try it: </p>
        <a href="{{ path('security_login') }}" class="btn btn-primary btn-lg">Registration</a>
        <a href="{{ path('activity_list') }}" class="btn btn-primary btn-lg">List of Activities </a>
        <a href="{{ path('product_list') }}" class="btn btn-primary btn-lg">List of products</a>
    </div>
{% endblock %}