{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} User History{% endblock %}

{% block body %}
    <h1>User's history : {{ user.firstName }} {{ user.secondName }}</h1>
    {% for date, mealsConsumption in days_consumption %}
        <h2>Date: {{ date }}</h2>
        {% for meal, consumptions in mealsConsumption %}
            {% if consumptions %}
                <h4>{{ meal|capitalize }}</h4>
                <div class="ea-table__row ea-table__row--bold">
                    <div class="ea-table__item">Product</div>
                    <div class="ea-table__item">Gramm</div>
                    <div class="ea-table__item">Kkal</div>
                    <div class="ea-table__item">Proteins</div>
                    <div class="ea-table__item">Fats</div>
                    <div class="ea-table__item">Carbohydrates</div>
                </div>

                {% for item in consumptions %}
                    {% include '@Eating/Consumption/consumption_show.html.twig' with {
                        'item': item
                    } only %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
