<div class="ea-table__row">
    <div class="ea-table__item">{{ item.product.name }}</div>
    <div class="ea-table__item">{{ item.howMuch }}</div>
    <div class="ea-table__item">{{ item.howMuch * item.product.kkalPer100gr / 100 }}</div>
    <div class="ea-table__item">{{ item.howMuch * item.product.proteinsPer100gr / 100 }}</div>
    <div class="ea-table__item">{{ item.howMuch * item.product.fatsPer100gr / 100 }}</div>
    <div class="ea-table__item">{{ item.howMuch * item.product.carbohydratesPer100gr / 100 }}</div>
</div>
