{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Consumption New{% endblock %}

{% block body %}
    <h1>New Consumption</h1>
    <div class="ea-form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success btn-lg">Save</button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary btn-lg">Back</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
