{% extends 'base.html.twig' %}

{% block body %}
    <div class="ea-list">
        <div class="ea-list_header ea-items">
            <div class="ea-item">Name</div>
            <div class="ea-item">Kkal per 100gr</div>
            <div class="ea-item">Proteins per 100gr</div>
            <div class="ea-item">Fats per 100gr</div>
            <div class="ea-item">Carbohydrates per 100gr</div>
            <div class="ea-item">Activities</div>
            <div class="ea-item">Created at</div>
        </div>
        <div class="ea-list_items">
        {% for product in products %}
            <div class="ea-items">
                <div class="ea-item">{{ product.name }}</div>
                <div class="ea-item">{{ product.kkalPer100gr }}</div>
                <div class="ea-item">{{ product.proteinsPer100gr }}</div>
                <div class="ea-item">{{ product.fatsPer100gr }}</div>
                <div class="ea-item">{{ product.carbohydratesPer100gr }}</div>
                <div class="ea-item">{{ product.activities }}</div>
                <div class="ea-item">{{ product.createdAt|date('Y-m-d') }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
