{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="ea-wrapper">
        <div class="ea-header">
            <h1>Our Products</h1>
            <div class="ea-button">
                <a href="{{ path('products_new') }}">New Product</a>
            </div>
        </div>
        <div class="ea-list">
        {% for product in products %}
            <div class="ea-list_items">
                <div class="ea-list_name">{{ product.name }}</div>
                <div class="ea-list_item">Kkal per 100gr</div>
                <div class="ea-list_item">{{ product.kkalPer100gr }}</div>
                <div class="ea-list_item">Proteins per 100gr</div>
                <div class="ea-list_item">{{ product.proteinsPer100gr }}</div>
                <div class="ea-list_item">Fats per 100gr</div>
                <div class="ea-list_item">{{ product.fatsPer100gr }}</div>
                <div class="ea-list_item">Carbohydrates per 100gr</div>
                <div class="ea-list_item">{{ product.carbohydratesPer100gr }}</div>
                <div class="ea-list_item">Activities</div>
                <div class="ea-list_item">{{ product.activities }}</div>
                <div class="ea-list_item">Created at</div>
                <div class="ea-list_item">{{ product.createdAt|date('Y-m-d') }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
